*{margin:0px;padding:0px;}
li{list-style-type: none;}


.singleQuestion
{
    padding-bottom:10px;
    margin-bottom:10px;
}

.singleQuestion .checkbox
{
    width:80%;
    margin:auto;
}

.singleQuestion .checkbox  label 
{
    width:45%;
}

.singleQuestion .form-group
{
    background-color:lightgrey;
    padding:5px;
    border-radius:5px;
}

.row 
{
    position:relative;
    overflow:hidden;
}

.finalTest label input 
{
    margin-top:10px;
}

.questionsSource tbody > tr td
{
    cursor:pointer;
}    

